<!DOCTYPE html>

<html>

<head>
    <title>로그인 확인</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
<style>
    body {
        background-color: #f1f1f1;
        font-family: 'Nanum Barun Gothic';
        text-align: center;
        max-width: 500px;
        margin: auto;
    }

    h1 {
        font-weight: lighter;
        font-family: 'East Sea Dokdo', cursive;
        font-size: 50px;
        margin: 40px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .button {
        background-color:#f1f1f1;
        border:solid #f1f1f1;
    }

    ::-moz-selection {
          background: #666;
          color: white;
    }
    ::selection {
          background: #666;
          color: white;
    }
</style>
</head>

<body>

<form>

<h1>로그인이 정상적으로<br>처리되었습니다.</h1>
<hr>

<p>아이디 : <%= user_id %></p>
<p>패스워드 : <%= user_pw %></p>

</form>

<br/>
<a href="/logout"><input type="submit" class="button" value="로그아웃" style="margin-right:20px;"/></a>
<a href="/board"><input type="button" class="button" value="게시판으로"/></a>

</body>

</html>