<!DOCTYPE html>

<html>

<head>
    <title>로그인 확인</title>
</head>

<body>
    <form>

    <h1>로그인이 정상적으로 처리되었습니다.</h1>
    <p>아이디 : <%= user_id %></p>
    <p>패스워드 : <%= user_pw %></p>
    
    </form>
</body>

</html>