<!DOCTYPE html>

<html>

<head>
    <title>로그인 확인</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
<style>
    h1 {
        font-weight: lighter;
        font-family: 'East Sea Dokdo', cursive;
        font-size: 50px;
        margin: 40px;
    }

    body {
        background-color: #f1f1f1;
        font-family: 'Nanum Barun Gothic';
        text-align: center;
        max-width: 400px;
        margin: auto;
    }

    .button {
        background-color:#f1f1f1;
        border:solid #f1f1f1;
    }

    ::-moz-selection {
          background: #666;
          color: white;
    }
    ::selection {
          background: #666;
          color: white;
    }
</style>
</head>

<body>

<form method="post" action="/logout">

<h1>로그아웃이 정상적으로<br>처리되었습니다.</h1>
<hr>

</form>

<br/>
<a href="/login"><input type="submit" class="button" value="로그인" style="margin-right:20px;"/></a>

</body>

</html>